<!-- Login page view(MVC) -->
<div class="login" ng-controller="loginController">
    <div class="login-form">
        <h3> Login </h3>
        <form name="loginform">
              <div class="form-group">
                  <label for="user-name">Name</label>
                  <input type="text" class="form-control" id="user-name" placeholder="Name" name ="name" ng-model="user.name" required>
                  <div ng-show="loginform.name.$error.required">Required!</div>
                  <div ng-show="loginform.name.$error.name">This doesn't look like a valid email</div>
              </div>
            <div class="form-group">
                <label for="user-email">Email address</label>
                <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" ng-model="user.email" required>
                <div ng-show="loginform.email.$error.required">Required!</div>
                <div ng-show="loginform.email.$error.email">This doesn't look like a valid email</div>
            </div>
            <div class="form-group">
                <label for="user-password">Password</label>
                <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" ng-model="user.password" required ng-minlength="6" ng-maxlength="12">
                <div ng-show="loginform.password.$error.minlength">
                Password must be at least 6 characters long
                </div>
                <div ng-show="loginform.password.$error.maxlength">
                Password must be at most 15 characters long
                </div>
                <div ng-show="loginform.password.$error.required">
                Please enter your super secret ninja password
                </div>
            </div>
            <div  type="submit" class="btn btn-default" ng-disabled="loginform.$invalid">Login</div>
            <div class='welcome-message'>Welcome Back {{user.name}}</div>
        </form>
    </div>
</div>
